In [12]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.7

In [1]:
import tabula
import os

In [2]:
# leer pdf
tables = tabula.read_pdf("tabla_01.pdf", pages="all")

In [3]:
# carpeta donde guardar
folder_name = "tablas"
if not os.path.isdir(folder_name):
    os.mkdir(folder_name)
# bucle sobre las tablas que se hayan encontrado
for i, table in enumerate(tables, start=1):
    table.to_excel(os.path.join(folder_name, f"table_{i}.xlsx"), index=False)

In [11]:
print(tables)

[   Unnamed: 0        2o ETAPA  \
0         NaN       I+D+i. 14
1         NaN       I+D+i. 15
2           E       I+D+i. 16
3         NaN      I+D+i. 17a
4         NaN      I+D+i. 17b
5         NaN       I+D+i. 18
6           F      I+D+i. 19a
7         NaN      I+D+i. 19b
8         NaN      I+D+i. 20a
9         NaN      I+D+i. 20b
10        NaN       I+D+i. 21
11        NaN       I+D+i. 22
12          G      I+D+i. 23a
13        NaN      I+D+i. 23b
14        NaN      I+D+i. 24a
15        NaN      I+D+i. 24b
16        NaN     TOTAL I+D+i
17        NaN             NaN
18        NaN          HCCR-1
19        NaN          HCCR-2
20        NaN          HCCR-3
21        NaN      TOTAL HCCR
22        NaN             NaN
23        NaN         SIPS. 1
24        NaN         SIPS. 2
25        NaN      TOTAL SIPS
26        NaN             NaN
27        NaN           UDE-1
28        NaN           UDE-2
29        NaN           UDE-3
30        NaN       TOTAL UDE
31        NaN  TOTAL 2o ETAPA

                                          Unnamed: 1  Unnamed: 2  Unnamed: 3  \
0                                      6.674,81 0,65    4.338,63         NaN
1                                      7.370,39 0,65    4.790,75         NaN
2                                      7.988,76 0,65    5.192,69         NaN
3                                      4.124,78 0,65    2.681,11         NaN
4                                      3.844,88 0,65    2.499,17         NaN
5                                      8.976,21 0,65    5.834,54         NaN
6                                      3.326,27 0,65    2.162,08         NaN
7                                      3.634,75 0,65    2.362,59         NaN
8                                      4.155,43 0,65    2.701,03         NaN
9                                      4.180,58 0,65    2.717,38         NaN
10                                     7.576,49 0,65    4.924,72         NaN
11                                     8.921,26 0,65    5.798,82         NaN
12                                     4.029,90 0,65    2.619,44         NaN
13                                     4.066,74 0,65    2.643,38         NaN
14                                     3.742,70 0,66    2.470,18         NaN
15                                     3.743,91 0,65    2.433,54         NaN
16                                         86.357,86   56.170,04         NaN
17  ZONA HOTELERA, COMERCIAL, CULTURAL Y RESIDENCIAL         NaN         NaN
18                                  17.487,33 1,3362   23.366,26         NaN
19                                     2.400,35 1,00    2.400,35         NaN
20                                          9.501,34         NaN         NaN
21                                         29.389,02   23.366,26         NaN
22             SERVICIOS DE INTERES PUBLICO Y SOCIAL         NaN         NaN
23                                    14.396,22 1,00   14.396,22         NaN
24                                     9.955,42 1,00    9.955,42         NaN
25                                         24.351,64   24.351,64         NaN
26                 USOS DOTACIONALES Y EQUIPAMIENTOS         NaN         NaN
27                                    26.245,22 1,00   26.245,22         NaN
28                                     1.163,97 1,00    1.163,97         NaN
29                                     5.272,52 1,00    5.272,52         NaN
30                                         32.681,71   32.681,71         NaN
31                                        172.780,23  136.569,65         NaN

             Unnamed: 4
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
5                   NaN
6                   NaN
7                   NaN
8                   NaN
9                   NaN
10                  NaN
11                  NaN
12                  NaN
13                  NaN
14                  NaN
15                  NaN
16                  NaN
17                  NaN
18              PRIVADO
19  (*) PUBLICO/PRIVADO
20              PUBLICO
21                  NaN
22                  NaN
23                  NaN
24              PUBLICA
25                  (*)
26                  NaN
27                  NaN
28              PRIVADO
29                  NaN
30                  (*)
31                  NaN  ]